{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="{% get_static_prefix %}css/screen.css" rel="stylesheet" type="text/css" media="screen,projection" />
        <link href="{% get_static_prefix %}css/application.css" rel="stylesheet" type="text/css" media="screen,projection" />
        <script src="{% get_static_prefix %}ender.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-326483-14']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body>

    <div class="container">
        <div class="span-9">
            <a href="/"><img src="{% get_static_prefix %}images/riagi.png"/></a>
        </div>
        <div class="span-5 last prepend-top navigation">
            {% if request.session.user_id %}
            <form action="/users/logout" method="post" id="signout-form">
                {% csrf_token %}
                <input type="hidden" name="logout"/>
                <a href="/images/mine">My images</a>
                <a href="#" id="signout">Log out</a>
            </form>
            {% else %}
            <a href="/users/signup">Sign up</a>
            <a href="/users/login">Login</a>
            {% endif %}
        </div>

        <div class="span-14 prepend-top append-bottom"></div>

        <div class="span-14">
            {% block content %}
            {% endblock %}
        </div>
        
        <div class="span-14 footer prepend-top">
            Powered by <a href="http://basho.com">Riak</a>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8">
        $.domReady(function() {
            $('#signout').bind('click', function(e) {
                e.preventDefault();
                $('#signout-form').each(function(e) {
                    this.submit();
                });
            });
        });
    </script>
  </body>
</html>
