body {
    background-color: #B3B3B3;
    color: #465A71
}

div.container {
    width: 550px;
    margin: 10px auto;
    font-size: 1.3em;
}

div.footer {
    text-align: center;
}

div.navigation {
    text-align: left;
}

div.navigation a {
    color: #ED4050;
    text-decoration: none;
    margin-right: 10px;
}

label {
    width: 120px;
    margin-top: 0.5em;
    float: left;
    font-weight: normal;
}
